server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testDB

  h2:
    console:
      enabled: true

  liquibase:
    enabled: true
    change-log: classpath:database/database.changelog.master.xml

  jpa:
    generate-ddl: false

    hibernate:
      ddl-auto: none
    show-sql: true